#matchmakingmain {
    margin: 0 10vw;
    text-align: center;
}

main > p {
    font-size: x-large;
}

#blankboard {
    width: min(400px, 95%);
    margin: min(33px, 3vw);
}

#matchmakingfooter {
    display: block;
}
#matchmakingfooter > * {
    display: inline-block;
    vertical-align: middle;
}

#matchmakingfooter > img {
    margin-left: 1em;
}